<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Style.css">

</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-end"><a href="#">Наверх</a></p>
        <p>&copy; 2017–2021 Компания, Inc. &middot; <a href="#">Конфиденциальность</a> &middot; <a href="#">Условия</a></p>
    </footer>
</body>
</html>
