@using Мarketplace.Data.Models
@model IEnumerable<Smartphone>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>Все смартфоны</h2>
    @{
        foreach(var smartphones in Model) 
        {
          <div>
              <h2>Смартфон: @smartphones.Designation</h2>
              <p>Цена: @smartphones.Price.ToString("c")</p>
          </div>  
        }
     }
</body>
</html>
