@using Мarketplace.ViewModels
@model SmartphonesListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h1>Все смартфоны</h1>
    <h3>@Model.smartphonesCategory</h3>
    @{
        foreach(var smartphones in Model.allSmartphones) 
        {
          <div>
              <h2>Смартфон: @smartphones.Designation</h2>
              <p>Цена: @smartphones.Price.ToString("c")</p>
          </div>  
        }
     }
</body>
</html>
